<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TODO Users</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    </head>
    <body>
        <div id="userContainer" class="container">
            <h1 class="text-center">Connection</h1>
            <form method="POST" class=" d-flex flex-column gap-2">
                {%csrf_token%}
                <input
                    class="form-control {% if usernameerror or usernamemissing %}is-invalid{%endif%}"
                    type="text"
                    name="username"
                    {%if user_name%}
                    value='{{user_name}}'
                    {%endif%}
                    placeholder="Nom d'utilisateur"/>
                {% if usernamemissing %}
                    <div class="invalid-feedback">Nom d'utilisateur manquant</div>
                {%endif%}
                {% if usernameerror %}
                    <div class="invalid-feedback">Nom d'utilisateur inconu</div>
                {%endif%}
                <input
                    class="form-control {% if passwordmissing or invalidcombinaison %}is-invalid{%endif%}"
                    type="password"
                    name="password"
                    {%if user_password%}
                    value='{{user_password}}'
                    {%endif%}
                    placeholder="Mot de passe"/>
                {% if passwordmissing %}
                    <div class="invalid-feedback">Mot de passe manquant</div>
                {%endif%}
                {% if invalidcombinaison %}
                    <div class="invalid-feedback">Combinaison incorrecte</div>
                {%endif%}
                <button
                    class="btn btn-primary"
                    hx-post="{% url 'sign_in' %}"
                    hx-target="#userContainer"
                    type="submit"
                >
                    Se connecter
                </button>
                <button
                    class="btn btn-primary"
                    hx-post="{% url 'sign_up' %}"
                    hx-target="#userContainer"
                    type="submit"
                >
                    S'inscrire
                </button>
            </form>
        </div>

        <script>
            document.body.addEventListener("htmx:responseError", function(e) {
                alert(e.detail.xhr.responseText);
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>