<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TODO Liste</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    </head>
    <body>
        <div id="container">
            <div id="user-bar">
                <p>Bienvenu {{user.username}}</p>
                <form method="POST">
                    {% csrf_token %}
                    <button
                        hx-post="{% url 'logout' %}" 
                        hx-target="#container"
                        type="submit"
                    >Deconection</button>
                </form>
            </div>
            <h1>Ajout d'une catégorie</h1>
            <div id="categorie-liste">
                {% for categorie in categories%}
                    {% include 'tasks/categories.html' with categorie=categorie%}
                {% endfor %}
            </div>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="categorie_name" />
                <button hx-post="{% url 'add_categorie' %}"
                    hx-target="#categorie-liste"
                    hx-swap="beforeend"
                    type="submit">Ajouter</button>
            </form>
            <div id="tasks">
                <h2>Taches</h2>
                <form method="POST">
                    {% csrf_token %}
                    <label for="task_name">Nom</label>
                    <input type="text" name="task_name"/>
                    <label for="task_description">Description</label>
                    <input type="text" name="task_description"/>
                    <button 
                        hx-post="{% url 'add_task'%}"
                        hx-target="#tasks-liste"
                        hx-vals='js:{categorie: getCategorieFromURL()}'
                        hx-swap="beforeend"
                    type="submit">Ajouter</button>
                </form>
                <div id="tasks-liste">
                    {% include 'tasks/tasks.html' with tasks=tasks %}
                </div>
            </div>
        </div>

        <script>
            document.body.addEventListener("htmx:responseError", function(e) {
                alert(e.detail.xhr.responseText);
            })

            function getCategorieFromURL() {
                let searchParams = new URL(window.location.href).searchParams;
                return searchParams.get("categorie_pk")
            }
        </script>
    </body>
</html>