<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TODO Liste</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    </head>
    <body>
        <div id="container" class="container">
            <div class="row">
                <h1 class="text-center">TODO Liste</h1>
                <nav class="nav flex-column col-4 p-0">
                    <div id="user-bar" class="row p-0 mb-2">
                        <h4 class="col-12 col-lg-8">Bienvenu: {{user.username}}</h4>
                        <form method="POST" class=" d-grid  col-lg-4">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-secondary"
                                hx-post="{% url 'logout' %}" 
                                hx-target="#container"
                                type="submit"
                            >Déconnection</button>
                        </form>
                    </div>
                    <div class="d-grid gap-2">
                        <h4>Catégories :</h4>
                        <div id="categorie-liste" class="list-group" role="tablist">
                            {% for categorie in categories%}
                            {% include 'tasks/categories.html' with categorie=categorie active_categorie=active_categorie.pk%}
                            {% endfor %}
                        </div>
                        <form method="POST" class="d-grid gap-1">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="categorie_name" placeholder="Catégorie..."/>
                            <button 
                                class="btn btn-sm btn-success"
                                hx-post="{% url 'add_categorie' %}"
                                hx-target="#categorie-liste"
                                hx-swap="beforeend"
                                type="submit">Ajouter</button>
                        </form>
                    </div>
                </nav>
                <main id="tasks"  class="col-8 d-grid p-3 gap-2">
                    <h2>Taches :</h2>
                    <form method="POST" class="row gap-1">
                        {% csrf_token %}
                        <label for="task_name">Nom :</label>
                        <input class="form-control" type="text" name="task_name" placeholder="Nom..."/>
                        <label for="task_description">Description :</label>
                        <textarea class="form-control" name="task_description" placeholder="Description..."/>
                        <button class="btn btn-sm btn-success"
                            hx-post="{% url 'add_task'%}"
                            hx-target="#tasks-liste"
                            hx-vals='js:{categorie: getCategorieFromURL()}'
                            hx-swap="beforeend"
                        type="submit">Ajouter</button>
                    </form>
                    <section id="tasks-liste" class="d-grid gap-2">
                        {% include 'tasks/tasks.html' with tasks=tasks categorie=active_categorie%}
                    </section>
                </main>
            </div>
        </div>

        <script>
            document.body.addEventListener("htmx:responseError", function(e) {
                alert(e.detail.xhr.responseText);
            })

            function getCategorieFromURL() {
                let searchParams = new URL(window.location.href).searchParams;
                return searchParams.get("categorie_pk")
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>